---
// Layout
import Layout from '../../../layouts/Layout.astro'

// Components
import PageSEO from '../../utils/PageSEO.astro'
import BannerImage from '../../atoms/BannerImage.astro'
import SelectedVehicleCard from '../../organisms/booking/SelectedVehicleCard'
import ArrivalInformation from '../../molecules/booking/ArrivalInformation'
import PassengerInformation from '../../molecules/booking/PassengerInformation'

import BookingSummary from '../../molecules/booking/BookingSummary'

// Images
import processBannerImg from '../../../assets/images/banners/process.png'

// Libs
import { getTranslations } from '../../../lib/i18n/utils'

interface Props {
  lang: 'en' | 'es'
  pageKey: string
}

const { lang, pageKey } = Astro.props
const t = getTranslations(lang)
---

<Layout pageKey={pageKey}>
  <PageSEO
    currentPage='register'
    slot='seo'
  />

  <BannerImage
    src={processBannerImg}
    alt={t('pages.register.title')}
    title={t('pages.register.title')}
    class='-mt-6 h-[200px]!'
  >
    <h1 class='mx-auto w-11/12 text-4xl font-bold md:text-5xl'>
      {t('pages.register.title')}
    </h1>
  </BannerImage>

  <div class='container mt-8 flex max-w-4xl flex-col gap-6'>
    <!-- Notice text -->
    <p class='text-gray-dark text-md font-medium'>
      {t('pages.register.serviceNotice')}
    </p>
    <!-- Selected Vehicle Summary -->
    <SelectedVehicleCard
      lang={lang}
      client:load
    />

    <ArrivalInformation
      lang={lang}
      client:load
    />

    <PassengerInformation
      lang={lang}
      client:load
    />

    <BookingSummary
      lang={lang}
      client:load
    />
  </div>
</Layout>
