---
// Layout
import Layout from "../../layouts/Layout.astro";

// Libs
import { useTranslations } from "../../lib/i18n/utils";
import { getStaticPathsLangs } from "../../lib/utils";
import { marked } from "marked";

// i18n
export const getStaticPaths = getStaticPathsLangs;

// Components
import { Image } from "astro:assets";
import PageSEO from "../../components/utils/PageSEO.astro";
import BookingForm from "../../components/organisms/BookingForm";
import TextCard from "../../components/molecules/TextCard.astro";
import BannerCta from "../../components/organisms/BannerCta.astro";
import BannerStats from "../../components/organisms/BannerStats.astro";
import RatesTable from "../../components/molecules/RatesTable.astro";
import SectionHeading from "../../components/molecules/SectionHeading.astro";
import Testimonials from "../../components/organisms/Testimonials.astro";
import FaqSection from "../../components/organisms/FaqSection.astro";
import TransportationServices from "../../components/organisms/TransportationServices.astro";
import PricingSection from "../../components/organisms/PricingSection.astro";
import ClientGallery from "../../components/organisms/ClientGallery.astro";
import Destinations from "../../components/organisms/Destinations.astro";

import PopularHotels from "../../components/organisms/PopularHotels.astro";

// Images
import homeBannerImg from "../../assets/images/home-banner.webp";
import safeTripBookingImg from "../../assets/images/destinations/playa-del-carmen/trip-advisor.webp";
import howToMoveImg from "../../assets/images/destinations/playa-del-carmen/destination.webp";
import client1Img from "../../assets/images/destinations/playa-del-carmen/gallery/client_1.webp";
import client2Img from "../../assets/images/destinations/playa-del-carmen/gallery/client_2.webp";
import client3Img from "../../assets/images/destinations/playa-del-carmen/gallery/client_3.webp";
import client4Img from "../../assets/images/destinations/playa-del-carmen/gallery/client_4.webp";

// Page data
const page = "cancunToTulumShuttle";

// Props
interface Props {
  lang: "en" | "es";
}
// Get language from params or props
const { lang } = Astro.params as { lang: "en" | "es" };

// Tranlation texts
const t = useTranslations(lang);
const safeTripBookContent = await marked.parse(
  t("pages.cancunToTulumShuttle.safeTrip.description"),
);
const howToMoveContent = await marked.parse(
  t("pages.cancunToTulumShuttle.howToMove.content"),
);
const reliableServiceContent = await marked.parse(
  t("pages.cancunToTulumShuttle.reliableService.description"),
);

// Data
---

<Layout preloadImage={homeBannerImg.src}>
  <!-- Page SEO -->
  <PageSEO currentPage="home" slot="seo" />

  <!-- Form -->
  <BookingForm
    translations={t("global.booking")}
    defaultFrom="cun"
    defaultTo="merida"
    client:idle
    title={t("pages.cancunToTulumShuttle.title")}
  />

  <!-- Company stats -->
  <BannerStats />

  <!-- Banner with image and text -->
  <TextCard
    id="safe-trip-booking"
    title={t("pages.cancunToTulumShuttle.safeTrip.title")}
    class="mt-12 grid grid-cols-1 items-center justify-center md:grid-cols-2"
  >
    <Image
      slot="image"
      src={safeTripBookingImg}
      alt={t("pages.cancunToTulumShuttle.safeTrip.title")}
      widths={[348, 696, 1220, safeTripBookingImg.width]}
      sizes="(max-width: 768px) 348px, (max-width: 1024px) 450px, 610px"
      quality={60}
      format="avif"
      loading="eager"
      decoding="async"
      class="object-right2 h-full w-full rounded-xl object-cover"
    />
    <div set:html={safeTripBookContent} class="markdown" />
  </TextCard>

  <!-- Pricing transportation -->
  <PricingSection page={page} />

  <!-- How to move -->
  <div class="bg-accent/5 mt-12 py-12">
    <TextCard
      id="how-to-move"
      title={t("pages.cancunToTulumShuttle.howToMove.title")}
      class="flex flex-col items-center justify-center md:flex-row"
    >
      <Image
        slot="image"
        src={howToMoveImg}
        alt={t("pages.cancunToTulumShuttle.howToMove.title")}
        widths={[400, 800, howToMoveImg.width]}
        sizes="(max-width: 768px) 400px, 800px"
        quality={60}
        format="avif"
        loading="lazy"
        decoding="async"
        class="h-full w-full rounded-xl object-cover object-right md:w-1/2 lg:w-1/3"
      />
      <div set:html={howToMoveContent} class="markdown text-justify" />
    </TextCard>
  </div>

  <!-- Clients testimonials -->
  <Testimonials page={page} images={[client1Img, client2Img, client3Img]} />

  <!-- Client Gallery -->
  <ClientGallery
    title={t("global.sections.clientGallery.title")}
    subtitle={t("global.sections.clientGallery.subtitle")}
    images={[client1Img, client2Img, client3Img, client4Img]}
  />

  <!-- Destinations -->
  <Destinations page={page} />

  <!-- Banner CTA -->
  <BannerCta page={page} imageClass="sm:w-1/2 md:w-4/12 h-auto" />

  <!-- Rates Table -->
  <section
    class="container mt-12"
    id="rates-table"
    aria-labelledby="rates-table-heading"
  >
    <SectionHeading
      id="rates-table-heading"
      title={t("global.ratesTable.title")}
      class="mb-8 text-center"
    >
      <p>{t("global.ratesTable.description")}</p>
    </SectionHeading>
    <RatesTable />
  </section>

  <!-- FAQs -->
  <FaqSection page={page} />

  <!-- Popular hotels -->
  <PopularHotels page={page} />

  <!-- Transportation services -->
  <TransportationServices page={page} />
</Layout>
