---
// Layout
import Layout from '../../layouts/Layout.astro'

// Libs
import { useTranslations } from '../../lib/i18n/utils'
import { getStaticPathsLangs } from '../../lib/utils'
import { marked } from 'marked'

// i18n
export const getStaticPaths = getStaticPathsLangs

// Components
import PageSEO from '../../components/utils/PageSEO.astro'
import BannerImage from '../../components/atoms/BannerImage.astro'
import BookingForm from '../../components/organisms/BookingForm.astro'
import TextCard from '../../components/molecules/TextCard.astro'
import H2 from '../../components/atoms/H2.astro'
import { Image } from 'astro:assets'
import ButtonCta from '../../components/atoms/ButtonCta.astro'

// Images
const bannerSrc = '/images/home-banner.webp'
import safeTripBookingImg from '../../assets/images/trip-advisor.webp'
import cancunAirportTransportationImg from '../../assets/images/reliable-company.webp'

// Props
interface Props {
  lang: string
}
// Get language from params or props
const { lang } = (Astro.params as any) || (Astro.props as any)

// Tranlation texts
const t = useTranslations(lang)
const safeTripBookContent = await marked.parse(t('safeTripBooking.text'))

// Data
const cancunAirportTransportationButtons = [
  {
    id: 'primary',
    variant: 'orange',
  },
  {
    id: 'secondary',
    variant: 'grayDark',
  },
]
---

<Layout>
  <PageSEO
    currentPage='home'
    lang={lang}
    slot='seo'
  />
  <BannerImage src={bannerSrc}>
    <h1 class='text-5xl font-bold w-11/12 mx-auto'>
      {t('pages.home.bannerTitle')}
    </h1>
  </BannerImage>
  <BookingForm
    defaultFrom='cun'
    defaultTo='merida'
    class='-mt-28'
  />
  <TextCard
    id='safe-trip-booking'
    title={t('safeTripBooking.title')}
    image={safeTripBookingImg}
    alt={t('safeTripBooking.imageAlt')}
    width={700}
    height={400}
    class='mt-12'
    classImage='object-right'
    reverse={true}
  >
    <div
      set:html={safeTripBookContent}
      class='markdown'
    />
  </TextCard>

  <!-- Banner CTA -->
  <section
    id='cancun-airport-transportation'
    class='text-white container mt-12'
  >
    <div
      class='bg-black px-6 py-8 rounded-lg flex items-center justify-between relative'
    >
      <div class='texts w-full sm:w-1/2 md:w-9/12'>
        <H2>{t('cancunAirportTransportation.title')}</H2>
        <div
          set:html={marked.parse(t('cancunAirportTransportation.text'))}
          class='markdown'
        />
        <div class='flex gap-3 flex-col md:flex-row'>
          {
            cancunAirportTransportationButtons.map((button) => (
              <ButtonCta
                href={t(
                  `cancunAirportTransportation.buttons.${button.id}.href`
                )}
                variant={button.variant as 'orange' | 'grayDark'}
                class='px-8 w-full md:w-auto inline-block'
              >
                {t(`cancunAirportTransportation.buttons.${button.id}.text`)}
              </ButtonCta>
            ))
          }
        </div>
      </div>
      <Image
        src={cancunAirportTransportationImg}
        alt={t('cancunAirportTransportation.imageAlt')}
        title={t('cancunAirportTransportation.imageTitle')}
        width={350}
        height={550}
        class='h-full md:h-[110%] w-auto absolute right-0 bottom-0 hidden sm:block'
      />
    </div>
  </section>
</Layout>
