---
// Layout
import Layout from "../../layouts/Layout.astro";

// Libs
import { useTranslations } from "../../lib/i18n/utils";
import { getStaticPathsLangs } from "../../lib/utils";
import { marked } from "marked";

// i18n
export const getStaticPaths = getStaticPathsLangs;

// Components
import PageSEO from "../../components/utils/PageSEO.astro";
import BannerImage from "../../components/atoms/BannerImage.astro";
import BookingForm from "../../components/organisms/BookingForm";
import TextCard from "../../components/molecules/TextCard.astro";
import BannerCta from "../../components/organisms/BannerCta.astro";
import BannerStats from "../../components/organisms/BannerStats.astro";
import PricingCard from "../../components/molecules/PricingCard.astro";
import RatesTable from "../../components/molecules/RatesTable.astro";
import SectionHeading from "../../components/molecules/SectionHeading.astro";
import ButtonCta from "../../components/atoms/ButtonCta.astro";
import Testimonials from "../../components/organisms/Testimonials.astro";
import FaqItem from "../../components/molecules/FaqItem.astro";
import { Image } from "astro:assets";
import TransportationServices from "../../components/organisms/TransportationServices.astro";
import Locations from "../../components/organisms/Locations.astro";

// Images
import homeBannerImg from "../../assets/images/home-banner.webp";
import safeTripBookingImg from "../../assets/images/trip-advisor.webp";
import luxuryVehicleImg from "../../assets/images/vehicles/luxury.webp";
import privateVehicleImg from "../../assets/images/vehicles/standard.webp";
import groupVehicleImg from "../../assets/images/vehicles/groups.webp";
import tulumImg from "../../assets/images/destinations/tulum.webp";
import playaImg from "../../assets/images/destinations/playa-del-carmen.webp";
import cancunImg from "../../assets/images/destinations/cancun.webp";
import customClientImg from "../../assets/images/clients/custom-client.webp";
import clientAppEsImg from "../../assets/images/clients/client-app-es.webp";

// Icons
import { FaImages } from "react-icons/fa";

// Props
interface Props {
  lang: string;
}
// Get language from params or props
const { lang } = (Astro.params as any) || (Astro.props as any);

// Tranlation texts
const t = useTranslations(lang);
const safeTripBookContent = await marked.parse(t("safeTripBooking.text"));
const whyChooseUsContent = await marked.parse(
  t("baseSections.whyChooseUs.text"),
);
const reliableServiceContent = await marked.parse(
  t("reliableService.description"),
);

// Data
const faqKeys = [
  "whyBook",
  "howToBook",
  "vehicleTypes",
  "cost",
  "safe",
  "changes",
  "flightDelay",
];
const faqs = faqKeys.map((key) => ({
  question: t(`baseSections.faqSection.items.${key}.question`),
  answer: t(`baseSections.faqSection.items.${key}.answer`),
}));

const pricingTransportation = [
  {
    key: "luxury",
    image: luxuryVehicleImg,
    bestSeller: false,
  },
  {
    key: "private",
    image: privateVehicleImg,
    bestSeller: true,
  },
  {
    key: "group",
    image: groupVehicleImg,
    bestSeller: false,
  },
];

const destinations = [
  {
    id: "tulum",
    image: tulumImg,
  },
  {
    id: "playa",
    image: playaImg,
  },
  {
    id: "cancun",
    image: cancunImg,
  },
];
---

<Layout preloadImage={homeBannerImg.src}>
  <!-- Page SEO -->
  <PageSEO currentPage="home" lang={lang} slot="seo" />

  <!-- Form -->
  <BookingForm
    translations={t("booking")}
    defaultFrom="cun"
    defaultTo="merida"
    client:idle
    title={t("pages.playaDelCarmen.title")}
  />

  <!-- Company stats -->
  <BannerStats />

  <!-- Banner with image and text -->
  <TextCard
    id="safe-trip-booking"
    title={t("safeTripBooking.title")}
    class="mt-12 grid grid-cols-1 items-center justify-center md:grid-cols-2"
  >
    <Image
      slot="image"
      src={safeTripBookingImg}
      alt={t("safeTripBooking.title")}
      widths={[348, 696, 1220, safeTripBookingImg.width]}
      sizes="(max-width: 768px) 348px, (max-width: 1024px) 450px, 610px"
      quality={60}
      format="avif"
      loading="eager"
      decoding="async"
      class="object-right2 h-full w-full rounded-xl object-cover"
    />
    <div set:html={safeTripBookContent} class="markdown" />
  </TextCard>

  <!-- Pricing transportation -->
  <section
    id="pricing-transportation"
    class="container mt-12"
    aria-labelledby="pricing-transportation-heading"
  >
    <SectionHeading
      id="pricing-transportation-heading"
      title={t("pricingTransportation.title")}
      class="text-center"
    >
      <p>
        {t("pricingTransportation.text")}
      </p>
    </SectionHeading>

    <ul
      class="mt-4 grid grid-cols-1 items-end justify-center gap-8 md:grid-cols-3 md:flex-row"
      role="list"
    >
      {
        pricingTransportation.map((card) => (
          <li>
            <PricingCard
              title={t(`pricingTransportation.cards.${card.key}.title`)}
              price={t(`pricingTransportation.cards.${card.key}.price`)}
              ctaLink="#booking-form"
              ctaText={t(`pricingTransportation.cards.${card.key}.ctaText`)}
              bestSeller={card.bestSeller}
              currency={lang === "es" ? "mxn" : "usd"}
              class="pt-4"
            >
              <Image
                slot="image"
                src={card.image}
                alt={t(`pricingTransportation.cards.${card.key}.imageAlt`)}
                title={t(`pricingTransportation.cards.${card.key}.imageTitle`)}
                widths={[200, 400, card.image.width]}
                sizes="(max-width: 768px) 200px, 400px"
                quality={60}
                format="avif"
                loading="lazy"
                decoding="async"
                class="mx-auto w-9/12"
              />
              <div
                slot="content"
                set:html={marked.parse(
                  t(`pricingTransportation.cards.${card.key}.description`),
                )}
                class="markdown"
              />
            </PricingCard>
          </li>
        ))
      }
    </ul>
  </section>

  <!-- Why Choose Us -->
  <div class="bg-accent/5 mt-12 py-12">
    <TextCard
      id="why-choose-us"
      title={t("baseSections.whyChooseUs.title")}
      class="flex flex-col items-center justify-center md:flex-row"
    >
      <Image
        slot="image"
        src={customClientImg}
        alt={t("baseSections.whyChooseUs.imageAlt")}
        widths={[400, 800, customClientImg.width]}
        sizes="(max-width: 768px) 400px, 800px"
        quality={60}
        format="avif"
        loading="lazy"
        decoding="async"
        class="h-full w-full rounded-xl object-cover object-right md:w-1/2 lg:w-1/3"
      />
      <div set:html={whyChooseUsContent} class="markdown text-justify" />
    </TextCard>
  </div>

  <!-- Clients testimonials -->
  <Testimonials />

  <!-- Destinations -->
  <section
    class="destinations-elements container mt-12"
    aria-labelledby="destinations-heading"
  >
    <SectionHeading
      id="destinations-heading"
      class="top text-center"
      title={t("pages.home.destinations.title")}
    >
      <p>{t("pages.home.destinations.text")}</p>
    </SectionHeading>

    <ul
      class="middle mt-12 grid grid-cols-1 gap-8 md:grid-cols-3 md:gap-4 xl:gap-8"
    >
      {
        destinations.map((dest) => (
          <li>
            <PricingCard
              title={t(`pages.home.destinations.cards.${dest.id}.title`)}
              price={t(`pages.home.destinations.cards.${dest.id}.price`)}
              ctaLink={t(`pages.home.destinations.cards.${dest.id}.link`)}
              ctaText={t(`pages.home.destinations.cards.${dest.id}.ctaText`)}
              currency={lang === "es" ? "mxn" : "usd"}
              bestSeller={false}
              reverse={true}
              class="hover:border-accent text-center transition-all duration-300 md:text-left"
            >
              <Image
                slot="image"
                src={dest.image}
                alt={t(`pages.home.destinations.cards.${dest.id}.title`)}
                widths={[300, 600, dest.image.width]}
                sizes="(max-width: 768px) 300px, 600px"
                quality={60}
                format="avif"
                loading="lazy"
                decoding="async"
                class="mx-auto aspect-2/1 w-full rounded-t-lg object-cover md:aspect-12/11 lg:aspect-4/3"
              />
              <div
                slot="content"
                set:html={marked.parse(
                  t(`pages.home.destinations.cards.${dest.id}.description`),
                )}
                class="markdown text-justify text-sm"
              />
            </PricingCard>
          </li>
        ))
      }
    </ul>

    <div class="bottom mt-4 scale-90 text-center">
      <ButtonCta
        href={t("pages.home.destinations.viewMoreLink")}
        variant="blueGhost"
        title={t("pages.home.destinations.viewMore")}
      >
        {t("pages.home.destinations.viewMore")}
      </ButtonCta>
    </div>
  </section>

  <!-- Banner CTA -->
  <BannerCta
    title={t("cancunAirportTransportation.title")}
    text={t("cancunAirportTransportation.text")}
    lang={lang}
  />

  <!-- Rates Table -->
  <section
    class="container mt-12"
    id="rates-table"
    aria-labelledby="rates-table-heading"
  >
    <SectionHeading
      id="rates-table-heading"
      title={t("ratesTable.title")}
      class="mb-8 text-center"
    >
      <p>{t("ratesTable.description")}</p>
    </SectionHeading>
    <RatesTable />
  </section>

  <!-- FAQs -->
  <section
    class="container mt-12"
    id="faq-section"
    aria-labelledby="faq-section-heading"
  >
    <SectionHeading
      id="faq-section-heading"
      title={t("baseSections.faqSection.title")}
      class="mb-8 text-center"
    >
      <p>{t("baseSections.faqSection.description")}</p>
    </SectionHeading>

    <div class="flex flex-col gap-4">
      {
        faqs.map((faq) => (
          <FaqItem question={faq.question} answer={faq.answer} />
        ))
      }
    </div>
  </section>

  <TransportationServices />
  <Locations />
</Layout>
