---
// Libs
import clsx from "clsx";
import { generateId } from "../../lib/utils";
import { getLangFromUrl, useTranslations } from "../../lib/i18n/utils";

// Props
interface Props {
  title: string;
  text?: string;
  Icon?: (props: any) => any;
  href?: string;
  class?: string;
  iconClass?: string;
  variant?: "white" | "orange" | "black";
}

const {
  title,
  text = "",
  Icon,
  href,
  class: className,
  iconClass,
  variant = "white",
} = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const id = generateId("info-card", title);

const Container = href ? "a" : "div";

const variantClasses = {
  white: "bg-white border border-gray-light",
  orange: "bg-accent text-white border-none",
  black: "bg-black text-white border-none",
};

const textClasses = {
  white: "text-gray",
  orange: "text-white",
  black: "text-white",
};

const ariaLabel = href
  ? t("global.accessibility.viewDetails", { item: title })
  : undefined;
---

<article
  class={clsx(
    `button-icon-card ${variant} group ${className} flex flex-col items-start rounded-2xl p-4 shadow-sm transition-all duration-300 hover:-translate-y-1 hover:shadow-xl`,
    variantClasses[variant],
  )}
  aria-labelledby={id}
>
  <Container href={href} aria-label={ariaLabel}>
    <header class="mb-3 flex items-center gap-2">
      {Icon && <Icon className={`text-3xl ${iconClass}`} aria-hidden="true" />}
      <h3 class="text-md font-bold" id={id}>{title}</h3>
    </header>
    <p
      class={clsx(
        "text-base leading-relaxed",
        textClasses[variant],
        href && "hover:opacity-60 duration-300",
      )}
    >
      {text}
    </p>
  </Container>
</article>
