---
// Libs
import { Image } from "astro:assets";

// Props
interface Props {
  title: string;
  image: {
    src: ImageMetadata | string;
    alt: string;
    title?: string;
  };
}

const { title, image } = Astro.props;

const id = `image-card-${title
  .toLowerCase()
  .trim()
  .replace(/[^a-z0-9]+/g, "-")
  .replace(/^-+|-+$/g, "")}`;
---

<article class="" aria-labelledby={id}>
  <div class="">
    {
      typeof image.src === "string" ? (
        <img src={image.src} alt={image.alt} title={image.title} class="" />
      ) : (
        <Image
          src={image.src}
          alt={image.alt}
          title={image.title}
          width={64}
          height={64}
          class=""
        />
      )
    }
  </div>

  <div class="">
    <h3 class="" id={id}>
      {title}
    </h3>
    <div class="">
      <slot />
    </div>
  </div>
</article>
