---
interface Props {
  title: string;
  address: string;
  phones: any[];
  email: any;
}
const { title, address, phones, email } = Astro.props;
---

<div class="flex flex-col gap-6">
  <h3
    class="font-title text-gray-dark text-lg font-bold tracking-wider uppercase"
  >
    {title}
  </h3>
  <div class="flex flex-col gap-6">
    <div class="flex flex-col gap-4">
      <p
        class="text-gray-dark border-accent border-l-4 pl-4 text-sm leading-relaxed italic"
      >
        {address}
      </p>
      <div class="flex flex-col gap-4">
        {
          phones.map((phone: any) => (
            <a href={phone.href} class="group flex flex-col">
              <span class="text-gray group-hover:text-blue text-xs font-bold tracking-tighter uppercase transition-colors">
                {phone.label}
              </span>
              <span class="text-gray-dark group-hover:text-blue text-lg font-bold tracking-tight transition-colors">
                {phone.value}
              </span>
            </a>
          ))
        }
      </div>
      <a href={email.href} class="group flex flex-col">
        <span
          class="text-gray group-hover:text-blue text-xs font-bold tracking-tighter uppercase transition-colors"
        >
          {email.label}
        </span>
        <span
          class="text-gray-dark group-hover:text-blue text-base font-medium break-all transition-colors"
        >
          {email.value}
        </span>
      </a>
    </div>
  </div>
</div>
