---
import { FaPhone, FaEnvelope, FaMapMarkerAlt } from "react-icons/fa";

interface Props {
  contactInfo: {
    address: { label: string; value: string };
    email: { label: string; value: string; href: string };
    phones: Array<{ label: string; value: string; href: string }>;
  };
}

const { contactInfo } = Astro.props;
---

<ul class="flex flex-col gap-6">
  {/* Address */}
  <li class="flex items-start gap-4">
    <div class="bg-accent/10 text-accent rounded-full p-3">
      <FaMapMarkerAlt className="h-6 w-6" aria-hidden="true" />
    </div>
    <div>
      <p class="text-xs font-bold tracking-wider text-gray-400 uppercase">
        {contactInfo.address.label}
      </p>
      <p class="text-lg">{contactInfo.address.value}</p>
    </div>
  </li>

  {/* Email */}
  <li class="flex items-start gap-4">
    <div class="bg-accent/10 text-accent rounded-full p-3">
      <FaEnvelope className="h-6 w-6" aria-hidden="true" />
    </div>
    <div>
      <p class="text-xs font-bold tracking-wider text-gray-400 uppercase">
        {contactInfo.email.label}
      </p>
      <a
        href={contactInfo.email.href}
        class="text-accent text-lg hover:underline"
      >
        {contactInfo.email.value}
      </a>
    </div>
  </li>

  {/* Phones */}
  {
    contactInfo.phones.map((phone) => (
      <li class="flex items-start gap-4">
        <div class="bg-accent/10 text-accent rounded-full p-3">
          <FaPhone className="h-6 w-6" aria-hidden="true" />
        </div>
        <div>
          <p class="text-xs font-bold tracking-wider text-gray-400 uppercase">
            {phone.label}
          </p>
          <a href={phone.href} class="text-accent text-lg hover:underline">
            {phone.value}
          </a>
        </div>
      </li>
    ))
  }
</ul>
