---
import { generateId } from "../../lib/utils";
import { getLangFromUrl, getTranslations } from "../../lib/i18n/utils";

interface Props {
  title: string;
  text: string;
  TitleIcon?: (props: any) => any;
  BottomIcon?: (props: any) => any;
  bottomText?: string;
  href?: string;
  class?: string;
}

const {
  title,
  text,
  TitleIcon,
  BottomIcon,
  bottomText,
  href,
  class: className,
} = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = getTranslations(lang);
const id = generateId("info-card", title);
const ariaLabel = t("global.accessibility.viewDetails", { item: title });
---

<article
  class={`group ${className} flex flex-col items-start rounded-2xl p-4 shadow-sm transition-all duration-300 hover:-translate-y-1 hover:shadow-xl border border-gray-light`}
  aria-labelledby={id}
>
  <header class="mb-3 flex items-center gap-2">
    {TitleIcon && <TitleIcon class="text-accent text-xl" aria-hidden="true" />}
    <h3 class="text-accent-dark text-md font-bold" id={id}>{title}</h3>
  </header>
  <p class="text-gray text-base leading-relaxed">
    {
      href ? (
        <a
          href={href}
          class="hover:text-accent transition-colors duration-300"
          aria-label={ariaLabel}
        >
          {text}
        </a>
      ) : (
        text
      )
    }
  </p>
  {
    (BottomIcon || bottomText) && (
      <footer class="border-gray-light mt-auto flex w-full items-center justify-end border-t pt-4">
        {bottomText && (
          <span class="text-blue text-sm font-semibold">{bottomText}</span>
        )}
        {BottomIcon && (
          <BottomIcon
            className="ml-2 text-blue text-xl transition-colors duration-300"
            aria-hidden="true"
          />
        )}
      </footer>
    )
  }
</article>
