---
// Libs
import clsx from "clsx";
import { getLangFromUrl, useTranslations } from "../../lib/i18n/utils";
import { marked } from "marked";

// Components
import ButtonCta from "../atoms/ButtonCta.astro";

// Icons
import { FaStar } from "react-icons/fa";

interface Props {
  title: string;
  bestSeller?: boolean;
  price: number | string;
  ctaLink: string;
  ctaText: string;
  reverse?: boolean;
  currency?: "usd" | "mxn";
  class?: string;
}

const {
  title,
  bestSeller = false,
  price,
  ctaLink,
  ctaText,
  reverse = false,
  currency = "usd",
  class: className = "",
} = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<article
  class={clsx(
    "pricing-card flex flex-col items-center justify-between gap-4 rounded-xl border h-full",
    bestSeller
      ? "border-accent bg-accent/10"
      : "border-gray-dark/20 bg-gray/10",
    className,
  )}
>
  <header>
    {/* Best Seller Badge */}
    {
      bestSeller && (
        <div
          class="badge-best-seller text-blue mb-3 flex items-center justify-center gap-2"
          role="status"
          aria-label="Recommendation: Most Popular"
        >
          <FaStar aria-hidden="true" />
          <span>{t("shared.pricingCard.mostPopular")}</span>
        </div>
      )
    }

    <div
      class={clsx(
        `title-image flex items-start justify-center gap-2`,
        reverse ? "flex-col-reverse" : "flex-col",
      )}
    >
      {/* Layout Order Logic (title and image with optional reverse) */}
      <h3 class={clsx("text-md px-4 font-bold text-center w-full")}>
        {title}
      </h3>
      <div>
        <slot name="image" />
      </div>
    </div>
  </header>

  {/* Price Section */}
  <div
    class="price-section text-blue flex flex-row items-center justify-center gap-2 px-4 md:flex-col lg:flex-row"
    role="group"
    aria-label={`Price starts from ${price} ${currency}`}
  >
    <span
      aria-hidden="true"
      class="inline-block text-center text-xs lg:text-right"
    >
      {
        t("shared.pricingCard.priceFrom")
          .split(" ")
          .map((word: string) => (
            <span class="m-0.5 block md:inline lg:block">{word}</span>
          ))
      }
    </span>
    <span class="text-center text-3xl font-bold lg:text-left">
      <span class="price-value" aria-hidden="true" class="">
        ${price}
      </span>
      <span class="price-currency uppercase" aria-hidden="true" class="">
        {currency}
      </span>
    </span>
  </div>

  {/* Dynamic Content */}
  <div class="px-4">
    <slot name="content" />
  </div>

  <footer class="cta-container -mt-2 w-full px-4 pb-4">
    {/* CTA Button */}
    <ButtonCta
      href={ctaLink}
      aria-label={`${ctaText} for ${title}`}
      class="inline-block w-full"
    >
      {ctaText}
    </ButtonCta>
  </footer>
</article>
