---
import { FaStar } from "react-icons/fa";
import ButtonCta from "../atoms/ButtonCta.astro";
import { clsx } from "clsx";

interface Props {
  title: string;
  bestSeller?: boolean;
  price: number | string;
  ctaLink: string;
  ctaText: string;
  reverse?: boolean;
  currency?: "usd" | "mxn";
  class?: string;
}

const {
  title,
  bestSeller = false,
  price,
  ctaLink,
  ctaText,
  reverse = false,
  currency = "usd",
  class: className = "",
} = Astro.props;
---

<article
  class={clsx(
    "pricing-card flex flex-col items-center justify-between gap-4 rounded-xl border bg-gray-light h-full",
    bestSeller ? "border-accent" : "border-gray-dark/20",
    className,
  )}
>
  <header>
    {/* Best Seller Badge */}
    {
      bestSeller && (
        <div
          class="badge-best-seller text-blue mb-3 flex items-center justify-center gap-2"
          role="status"
          aria-label="Recommendation: Most Popular"
        >
          <FaStar aria-hidden="true" />
          <span>MostPopular</span>
        </div>
      )
    }

    <div
      class={clsx(
        `title-image flex items-start justify-center gap-2`,
        reverse ? "flex-col-reverse" : "flex-col",
      )}
    >
      {/* Layout Order Logic (title and image with optional reverse) */}
      <h3 class={clsx("text-md px-4 font-bold text-center w-full")}>
        {title}
      </h3>
      <div>
        <slot name="image" />
      </div>
    </div>
  </header>

  {/* Price Section */}
  <div
    class="price-section text-blue flex flex-row items-center justify-center gap-2 px-4 md:flex-col lg:flex-row"
    role="group"
    aria-label={`Price starts from ${price} ${currency}`}
  >
    <span aria-hidden="true" class="inline-block text-xs">
      Price
      <br class="block md:hidden lg:block" />
      from
    </span>
    <span class="text-center text-3xl font-bold">
      <span class="price-value" aria-hidden="true">
        ${price}
      </span>
      <span class="price-currency uppercase" aria-hidden="true">
        {currency}
      </span>
    </span>
  </div>

  {/* Dynamic Content */}
  <div class="px-4">
    <slot name="content" />
  </div>

  <footer class="cta-container -mt-2 w-full px-4 pb-4">
    {/* CTA Button */}
    <ButtonCta
      href={ctaLink}
      aria-label={`${ctaText} for ${title}`}
      class="inline-block w-full"
    >
      {ctaText}
    </ButtonCta>
  </footer>
</article>
