---
import { Image } from "astro:assets";
import StarRating from "../atoms/StarRating.astro";

interface Props {
  name: string;
  text: string;
  image: ImageMetadata;
  imageAlt: string;
  imageTitle: string;
  stars: string;
  date: string;
  class?: string;
}

const {
  name,
  text,
  image,
  imageAlt,
  imageTitle,
  stars,
  date,
  class: className,
} = Astro.props;
---

<figure
  class={`flex flex-col-reverse bg-gray/10 border-2 border-gray/20 p-4 justify-end rounded-lg ${className}`}
  aria-roledescription="testimonial"
  role="group"
  itemscope
  itemtype="https://schema.org/Review"
>
  <blockquote class="" itemprop="reviewBody">
    <p class="mt-4 text-sm">{text}</p>
  </blockquote>
  <figcaption class="flex gap-4">
    <div class="" itemprop="image">
      <Image
        src={image}
        alt={imageAlt}
        title={imageTitle}
        width={70}
        height={70}
        loading="lazy"
        decoding="async"
        class="aspect-square rounded-full"
      />
    </div>
    <div
      class="flex flex-col"
      itemprop="author"
      itemscope
      itemtype="https://schema.org/Person"
    >
      <cite class="flex flex-col text-lg not-italic" itemprop="name">
        <time class="text-gray-dark text-sm" itemprop="datePublished"
          >{date}</time
        >
        {name}
      </cite>
      <div
        itemprop="reviewRating"
        itemscope
        itemtype="https://schema.org/Rating"
      >
        <StarRating rating={parseInt(stars)} withSchema={true} />
      </div>
    </div>
  </figcaption>
</figure>
