---
// Components
import { Image } from 'astro:assets'
import H2 from '../atoms/H2.astro'

// Props
interface Props {
  id: string
  title: string
  image: ImageMetadata
  alt: string
  width?: number
  height?: number
  class?: string
  classImage?: string
  reverse?: boolean
}

const {
  id = '',
  title,
  image,
  alt,
  width,
  height,
  class: className = '',
  classImage = '',
  reverse = false,
} = Astro.props

const titleId = `${id}-title`
---

<section
  id={id}
  aria-labelledby={titleId}
  class={`${className} grid md:grid-cols-2 gap-4 container text-left items-center`}
>
  <div class={`flex flex-col gap-4 ${reverse ? 'md:order-2' : 'md:order-1'}`}>
    <H2 id={titleId}>{title}</H2>
    <div>
      <slot />
    </div>
  </div>
  <Image
    src={image}
    alt={alt}
    title={alt}
    width={width}
    height={height}
    class={`w-full h-full object-cover rounded-xl ${classImage} ${reverse ? 'md:order-1' : 'md:order-2'}`}
  />
</section>
