---
// Components
import SectionHeading from "./SectionHeading.astro";

// Props
interface Props {
  id: string;
  title: string;
  class?: string;
}

const { id = "", title, class: className = "" } = Astro.props;

const titleId = `${id}-title`;
---

<section
  id={id}
  aria-labelledby={titleId}
  class={`${className} gap-4 container`}
>
  <slot name="image" />
  <div class={`flex flex-col gap-4`}>
    <SectionHeading id={titleId} title={title}>
      <slot />
    </SectionHeading>
  </div>
</section>
