---
// Components
import SectionHeading from "./SectionHeading.astro";

// Props
interface Props {
  id: string;
  title: string;
  class?: string;
  reverse?: boolean;
}

const { id = "", title, class: className = "", reverse = false } = Astro.props;

const titleId = `${id}-title`;
---

<section
  id={id}
  aria-labelledby={titleId}
  class={`${className} grid md:grid-cols-2 gap-4 container text-left items-center`}
>
  <div class={`flex flex-col gap-4 ${reverse ? "md:order-2" : "md:order-1"}`}>
    <SectionHeading id={titleId} title={title}>
      <slot />
    </SectionHeading>
  </div>
  <div class={`${reverse ? "md:order-1" : "md:order-2"}`}>
    <slot name="image" />
  </div>
</section>
