---
// Layout
import Layout from '../../../layouts/Layout.astro'

// Libs
import { useTranslations } from '../../../lib/i18n/utils'

// Components
import PageSEO from '../../../components/utils/PageSEO.astro'
import RatesTable from '../../../components/organisms/RatesTable.astro'
import BookingForm from '../../../components/organisms/booking/BookingForm'
import FeatureBanner from '../../../components/organisms/FeatureBanner.astro'
import PopularHotels from '../../../components/organisms/PopularHotels.astro'
import BannerStats from '../../../components/organisms/BannerStats.astro'
import PricingSection from '../../../components/organisms/PricingSection.astro'
import Testimonials from '../../../components/organisms/Testimonials.astro'
import ClientGallery from '../../../components/organisms/ClientGallery.astro'
import FeaturedDestinations from '../../../components/organisms/FeaturedDestinations.astro'
import BannerCta from '../../../components/organisms/BannerCta.astro'
import FaqSection from '../../../components/organisms/FaqSection.astro'
import TransportationServices from '../../../components/organisms/TransportationServices.astro'

// Images
import safeTripBookingImg from '../../../assets/images/destinations/tulum/trip-advisor.webp'
import howToMoveImg from '../../../assets/images/destinations/tulum/custom-client.webp'
import client1Img from '../../../assets/images/destinations/tulum/gallery/client_5.webp'
import client2Img from '../../../assets/images/destinations/tulum/gallery/client_6.webp'
import client3Img from '../../../assets/images/destinations/tulum/gallery/client_7.webp'
import client4Img from '../../../assets/images/destinations/tulum/gallery/client_8.webp'

// Testimonial Images
import tulumClient1 from '../../../assets/images/destinations/tulum/tulum_client_1.png'
import tulumClient2 from '../../../assets/images/destinations/tulum/tulum_client_2.png'
import tulumClient3 from '../../../assets/images/destinations/tulum/tulum_client_3.png'

// Page data
// Props
interface Props {
  lang: 'en' | 'es'
  pageKey: string
}
// Get language from params or props
const { lang, pageKey } = Astro.props

// Page data
const contentKey = pageKey || 'tulum'

// Tranlation texts
const t = useTranslations(lang)

// Data
---

<Layout pageKey={pageKey}>
  <!-- Page SEO -->
  <PageSEO
    currentPage={contentKey}
    slot='seo'
    jsonType='TouristDestination'
    ogImage={safeTripBookingImg.src}
  />

  <!-- Form -->
  <div class='@container'>
    <BookingForm
      translations={t('global.booking')}
      client:idle
      title={t(`pages.${contentKey}.title`)}
    />
  </div>

  <!-- Company stats -->
  <BannerStats />

  <!-- Banner with image and text -->
  <FeatureBanner
    id='safe-trip-booking'
    contentKey={contentKey}
    section='safeTrip'
    image={safeTripBookingImg}
    imageClass='object-right'
    layout='grid'
  />

  <!-- Pricing transportation -->
  <PricingSection contentKey={contentKey} />

  <!-- How to move -->
  <div class='bg-accent/5 mt-12 py-12'>
    <FeatureBanner
      id='how-to-move'
      contentKey={contentKey}
      section='howToMove'
      fieldKey='content'
      image={howToMoveImg}
      imageClass='object-right'
      layout='flex'
    />
  </div>

  <!-- Clients testimonials -->
  <Testimonials
    contentKey={contentKey}
    images={[tulumClient1, tulumClient2, tulumClient3]}
  />

  <!-- Client Gallery -->
  <ClientGallery
    title={t('global.sections.clientGallery.title')}
    subtitle={t('global.sections.clientGallery.subtitle')}
    images={[client1Img, client2Img, client3Img, client4Img]}
  />

  <!-- Destinations -->
  <FeaturedDestinations contentKey={contentKey} />

  <!-- Banner CTA -->
  <BannerCta
    contentKey={contentKey}
    imageClass='sm:w-1/2 md:w-4/12 h-auto'
  />

  <!-- Rates Table -->
  <RatesTable />

  <!-- FAQs -->
  <FaqSection contentKey={contentKey} />

  <!-- Popular hotels -->
  <PopularHotels contentKey={contentKey} />

  <!-- Transportation services -->
  <TransportationServices contentKey={contentKey} />
</Layout>
