---
// Layout
import Layout from "../../../layouts/Layout.astro";

// Libs
import { useTranslations } from "../../../lib/i18n/utils";
import { getStaticPathsLangs } from "../../../lib/utils";

// i18n
// export const getStaticPaths = getStaticPathsLangs;

// Components
import PageSEO from "../../../components/utils/PageSEO.astro";
import RatesTable from "../../../components/organisms/RatesTable.astro";
import BookingForm from "../../../components/organisms/BookingForm";
import TextCardHalf from "../../../components/organisms/TextCardHalf.astro";
import TextCardSmall from "../../../components/organisms/TextCardSmall.astro";
import PopularHotels from "../../../components/organisms/PopularHotels.astro";
import BannerStats from "../../../components/organisms/BannerStats.astro";
import PricingSection from "../../../components/organisms/PricingSection.astro";
import Testimonials from "../../../components/organisms/Testimonials.astro";
import ClientGallery from "../../../components/organisms/ClientGallery.astro";
import FeaturedDestinations from "../../../components/organisms/FeaturedDestinations.astro";
import BannerCta from "../../../components/organisms/BannerCta.astro";
import FaqSection from "../../../components/organisms/FaqSection.astro";
import TransportationServices from "../../../components/organisms/TransportationServices.astro";

// Images
import safeTripBookingImg from "../../../assets/images/destinations/tulum/trip-advisor.webp";
import howToMoveImg from "../../../assets/images/destinations/tulum/custom-client.webp";
import client1Img from "../../../assets/images/destinations/tulum/gallery/client_5.webp";
import client2Img from "../../../assets/images/destinations/tulum/gallery/client_6.webp";
import client3Img from "../../../assets/images/destinations/tulum/gallery/client_7.webp";
import client4Img from "../../../assets/images/destinations/tulum/gallery/client_8.webp";

// Testimonial Images
import tulumClient1 from "../../../assets/images/destinations/tulum/tulum_client_1.png";
import tulumClient2 from "../../../assets/images/destinations/tulum/tulum_client_2.png";
import tulumClient3 from "../../../assets/images/destinations/tulum/tulum_client_3.png";

// Page data
const page = "cancunToTulumShuttle";

// Props
interface Props {
  lang: "en" | "es";
  pageKey: string;
}
// Get language from params or props
const { lang, pageKey } = Astro.props;

// Tranlation texts
const t = useTranslations(lang);

// Data
---

<Layout pageKey={pageKey}>
  <!-- Page SEO -->
  <PageSEO currentPage={page} slot="seo" />

  <!-- Form -->
  <div class="@container">
    <BookingForm
      translations={t("global.booking")}
      defaultFrom="cun"
      defaultTo="merida"
      client:idle
      title={t(`pages.${page}.title`)}
    />
  </div>

  <!-- Company stats -->
  <BannerStats />

  <!-- Banner with image and text -->
  <TextCardHalf
    id="safe-trip-booking"
    page={page}
    section="safeTrip"
    image={safeTripBookingImg}
    imageClass="object-right"
  />

  <!-- Pricing transportation -->
  <PricingSection page={page} />

  <!-- How to move -->
  <div class="bg-accent/5 mt-12 py-12">
    <TextCardSmall
      id="how-to-move"
      page={page}
      section="howToMove"
      contentKey="content"
      image={howToMoveImg}
      imageClass="object-right"
    />
  </div>

  <!-- Clients testimonials -->
  <Testimonials
    page={page}
    images={[tulumClient1, tulumClient2, tulumClient3]}
  />

  <!-- Client Gallery -->
  <ClientGallery
    title={t("global.sections.clientGallery.title")}
    subtitle={t("global.sections.clientGallery.subtitle")}
    images={[client1Img, client2Img, client3Img, client4Img]}
  />

  <!-- Destinations -->
  <FeaturedDestinations page={page} />

  <!-- Banner CTA -->
  <BannerCta page={page} imageClass="sm:w-1/2 md:w-4/12 h-auto" />

  <!-- Rates Table -->
  <RatesTable />

  <!-- FAQs -->
  <FaqSection page={page} />

  <!-- Popular hotels -->
  <PopularHotels page={page} />

  <!-- Transportation services -->
  <TransportationServices page={page} />
</Layout>
