---
// Libs
import { getLangFromUrl, useTranslations } from "../../lib/i18n/utils";

// Components
import TripTypeControls from "../molecules/booking/TripTypeControls";
import CurrencyControls from "../molecules/booking/CurrencyControls";
import SubmitButton from "../molecules/booking/SubmitButton";
import BookingFields from "./BookingFields";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const translations = t("booking");

interface Props {
  defaultFrom?: string;
  defaultTo?: string;
  title?: string;
  class?: string;
  id?: string;
}

const { defaultFrom, defaultTo, title, class: className, id } = Astro.props;
---

<section id={id} class={`w-full flex justify-center ${className} container`}>
  <form class="bg-accent w-full rounded-xl px-8 py-6">
    {
      title && (
        <h1 class="mb-4 text-center text-3xl font-bold text-balance">
          {title}
        </h1>
      )
    }
    <!-- Controls -->
    <header class="flex w-full justify-between gap-4 text-sm">
      <TripTypeControls labels={translations.tripType} client:idle />
      <CurrencyControls labels={translations.currency} client:idle />
      <SubmitButton
        label={translations.submit}
        client:idle
        className="hidden md:block"
      />
    </header>
    <!-- Fields -->
    <BookingFields
      translations={translations}
      defaultFrom={defaultFrom}
      defaultTo={defaultTo}
      client:idle
    />
    <footer>
      <SubmitButton
        label={translations.submit}
        client:idle
        className="mt-4 block w-full md:hidden"
      />
    </footer>
  </form>
</section>
