---
// Libs
import { getLangFromUrl, useTranslations } from '../../lib/i18n/utils'

// Components
import TripTypeControls from '../molecules/booking/TripTypeControls'
import CurrencyControls from '../molecules/booking/CurrencyControls'
import SubmitButton from '../molecules/booking/SubmitButton'
import BookingFields from './BookingFields'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const translations = t('booking')

interface Props {
  defaultFrom?: string
  defaultTo?: string
}

const { defaultFrom, defaultTo } = Astro.props
---

<section class='w-full flex justify-center'>
  <form class='px-8 py-6 bg-accent rounded-xl container mx-12 w-11/12'>
    <!-- Controls -->
    <header class='text-sm flex w-full justify-between gap-4'>
      <TripTypeControls
        labels={translations.tripType}
        client:load
      />
      <CurrencyControls
        labels={translations.currency}
        client:load
      />
      <SubmitButton
        label={translations.submit}
        client:load
        className='hidden md:block'
      />
    </header>
    <!-- Fields -->
    <BookingFields
      translations={translations}
      defaultFrom={defaultFrom}
      defaultTo={defaultTo}
      client:load
    />
  </form>
</section>
