---
// Libs
import { useTranslations, getLangFromUrl } from "../../lib/i18n/utils";
import { marked } from "marked";

// Components
import SectionHeading from "../../components/molecules/SectionHeading.astro";
import PricingCard from "../../components/molecules/PricingCard.astro";
import ButtonCta from "../../components/atoms/ButtonCta.astro";
import { Image } from "astro:assets";

// Images
import tulumImg from "../../assets/images/destinations/tulum.webp";
import playaImg from "../../assets/images/destinations/playa-del-carmen.webp";
import cancunImg from "../../assets/images/destinations/cancun.webp";

// Props
interface Props {
  page: string;
}

const { page } = Astro.props;

// Get language
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

// Data
const destinations = [
  {
    id: "tulum",
    image: tulumImg,
  },
  {
    id: "playa",
    image: playaImg,
  },
  {
    id: "cancun",
    image: cancunImg,
  },
];
---

<section
  class="destinations-elements container mt-12"
  aria-labelledby="destinations-heading"
>
  <SectionHeading
    id="destinations-heading"
    class="top text-center"
    title={t(`pages.${page}.destinations.title`)}
  >
    <p>{t(`pages.${page}.destinations.text`)}</p>
  </SectionHeading>

  <ul
    class="middle mt-12 grid grid-cols-1 gap-8 md:grid-cols-3 md:gap-4 xl:gap-8"
  >
    {
      destinations.map((dest) => (
        <li>
          <PricingCard
            title={t(`pages.${page}.destinations.cards.${dest.id}.title`)}
            price={t(`pages.${page}.destinations.cards.${dest.id}.price`)}
            ctaLink={t(`pages.${page}.destinations.cards.${dest.id}.link`)}
            ctaText={t(`pages.${page}.destinations.cards.${dest.id}.ctaText`)}
            currency={lang === "es" ? "mxn" : "usd"}
            bestSeller={false}
            reverse={true}
            class="hover:border-accent text-center transition-all duration-300 md:text-left"
          >
            <Image
              slot="image"
              src={dest.image}
              alt={t(`pages.${page}.destinations.cards.${dest.id}.title`)}
              title={t(`pages.${page}.destinations.cards.${dest.id}.title`)}
              widths={[300, 600, dest.image.width]}
              quality={60}
              format="avif"
              loading="lazy"
              decoding="async"
              class="mx-auto aspect-2/1 w-full rounded-t-lg object-cover md:aspect-12/11 lg:aspect-4/3"
            />
            <div
              slot="content"
              set:html={marked.parse(
                t(`pages.${page}.destinations.cards.${dest.id}.description`) ||
                  "",
              )}
              class="markdown text-justify text-sm"
            />
          </PricingCard>
        </li>
      ))
    }
  </ul>

  <div class="bottom mt-4 scale-90 text-center">
    <ButtonCta
      href={t(`pages.${page}.destinations.viewMoreLink`)}
      variant="blueGhost"
      title={t(`pages.${page}.destinations.viewMore`)}
      ariaLabel={t("global.accessibility.viewDetails", {
        item: t(`pages.${page}.destinations.title`),
      })}
    >
      {t(`pages.${page}.destinations.viewMore`)}
    </ButtonCta>
  </div>
</section>
