---
// Libs
import { useTranslations, getLangFromUrl } from "../../lib/i18n/utils";

// Components
import SectionHeading from "../molecules/SectionHeading.astro";
import InfoIconCard from "../molecules/InfoIconCard.astro";
import BasicIconCard from "../molecules/BasicIconCard.astro";
import GoogleMap from "../atoms/GoogleMap.astro";

// Icons
import { FaMapMarkerAlt } from "react-icons/fa";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const contactItems = [
  {
    title: t("global.locations.contacts.usaCanada.label"),
    text: t("global.locations.contacts.usaCanada.value"),
    Icon: FaMapMarkerAlt,
    href: `tel:${t("global.locations.contacts.usaCanada.value").replace(/[^0-9+]/g, "")}`,
  },
  {
    title: t("global.locations.contacts.mexicoRest.label"),
    text: t("global.locations.contacts.mexicoRest.value"),
    Icon: FaMapMarkerAlt,
    href: `tel:${t("global.locations.contacts.mexicoRest.value").replace(/[^0-9+]/g, "")}`,
  },
  {
    title: t("global.locations.contacts.address.label"),
    text: t("global.locations.contacts.address.value"),
    Icon: FaMapMarkerAlt,
  },
];

const transportationTimes = t(
  "global.locations.transportationTimes.items",
) as Array<{
  id: string;
  title: string;
  text: string;
  bottomText: string;
}>;
---

<section
  class="container mx-auto px-4 py-16"
  id="locations"
  aria-label={t("global.locations.title")}
>
  <div class="mb-12 text-center">
    <SectionHeading title={t("global.locations.title")} />
  </div>

  <div class="grid grid-cols-1 gap-4 md:grid-cols-3">
    {
      contactItems.map((item) => (
        <BasicIconCard
          title={item.title}
          text={item.text}
          Icon={item.Icon}
          href={item.href}
          class="bg-gray-light"
          iconClass="text-blue "
        />
      ))
    }
  </div>

  <div class="bg-gray/10 rounded-2xl">
    <div
      class="border-gray-light my-6 h-[450px] w-full overflow-hidden rounded-t-2xl border shadow-sm"
    >
      <GoogleMap />
    </div>

    <SectionHeading
      title={t("global.locations.transportationTimes.title")}
      class="mt-2 text-center"
    />
    <div class="grid grid-cols-1 gap-4 p-4 md:grid-cols-2 lg:grid-cols-4">
      {
        transportationTimes.map((item) => (
          <InfoIconCard
            title={item.title}
            text={item.text}
            bottomText={item.bottomText}
            BottomIcon={FaMapMarkerAlt}
            class="bg-white"
          />
        ))
      }
    </div>
  </div>
</section>
