---
// Libs
import { getLangFromUrl, useTranslations } from "../../lib/i18n/utils";
import { marked } from "marked";
import clsx from "clsx";

// Components
import SectionHeading from "../molecules/SectionHeading.astro";
import ButtonCta from "../atoms/ButtonCta.astro";

// Lang
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

// Data
const content = t("pages.privateAirportTransfer.privateDetails") as any;
const { title, description, table, cta } = content;
const descriptionHtml = await marked.parse(description);

// Table Data Interfaces
interface TableRow {
  arrival: string;
  departure: string;
  oneWay: string;
  roundTrip: string;
  capacity: string;
}

interface TableData {
  title: string;
  headers: {
    arrival: string;
    departure: string;
    oneWay: string;
    roundTrip: string;
    capacity: string;
  };
  rows: TableRow[];
}

const tableData = table as TableData;

// Column Configuration
interface TableColumn {
  key: keyof TableRow;
  header: string;
  className: string;
}

const columns: TableColumn[] = [
  {
    key: "arrival",
    header: tableData.headers.arrival,
    className: "",
  },
  {
    key: "departure",
    header: tableData.headers.departure,
    className: "",
  },
  {
    key: "capacity",
    header: tableData.headers.capacity,
    className: "",
  },
  {
    key: "oneWay",
    header: tableData.headers.oneWay,
    className: "",
  },
  {
    key: "roundTrip",
    header: tableData.headers.roundTrip,
    className: "",
  },
];
---

<section
  id="private-details"
  aria-labelledby="private-details-heading"
  class="container mt-12"
>
  <div class="">
    <!-- Title Section -->
    <SectionHeading
      id="private-details-heading"
      title={title}
      class="text-center md:text-left"
    >
      <div class="text-justify md:text-left" set:html={descriptionHtml} />
    </SectionHeading>

    <!-- Table Section -->
    <div class="mx-auto mt-6 w-[98%] rounded-xl bg-white p-4 shadow-2xl">
      <!-- Title -->
      <h3 class="my-4 text-2xl font-bold">{tableData.title}</h3>

      <!-- Responsive Table Wrapper -->
      <table class="w-full">
        <thead class="">
          <tr class="border-gray-dark/20 border-t">
            {
              columns.map((col) => (
                <th scope="col" class="px-2 py-4 text-left">
                  {col.header}
                </th>
              ))
            }
          </tr>
        </thead>
        <tbody class="">
          {
            tableData.rows.map((row) => (
              <tr class="border-gray-dark/20 odd:bg-blue/5 border-t">
                {columns.map((col) => (
                  <td class={clsx(col.className, "px-2 py-4")}>
                    {row[col.key]}
                  </td>
                ))}
              </tr>
            ))
          }
        </tbody>
      </table>

      <!-- CTA Button -->
      <ButtonCta href={cta.href} class="mt-6 w-full" variant="blue">
        {cta.text}
      </ButtonCta>
    </div>
  </div>
</section>
