---
import { useTranslations } from "../../lib/i18n/utils";
import SectionHeading from "../molecules/SectionHeading.astro";
import InfoIconCard from "../molecules/InfoIconCard.astro";
import {
  FaPlane,
  FaBed,
  FaUtensils,
  FaTree,
  FaArrowDown,
} from "react-icons/fa";

const { lang } = Astro.params as { lang: string };
const t = useTranslations(lang as "en" | "es");

const services = [
  {
    title: t("transportationServices.items.airportToHotel.title"),
    text: t("transportationServices.items.airportToHotel.text"),
    Icon: FaPlane,
  },
  {
    title: t("transportationServices.items.hotelToHotel.title"),
    text: t("transportationServices.items.hotelToHotel.text"),
    Icon: FaBed,
  },
  {
    title: t("transportationServices.items.hotelToRestaurant.title"),
    text: t("transportationServices.items.hotelToRestaurant.text"),
    Icon: FaUtensils,
  },
  {
    title: t("transportationServices.items.hotelToPark.title"),
    text: t("transportationServices.items.hotelToPark.text"),
    Icon: FaTree,
  },
];

const title = t("transportationServices.title");
const description = t("transportationServices.description");
const id = "transportation-services";
---

<section class="container mx-auto mt-12 px-4 py-12" id={id} aria-label={title}>
  <div class="mb-16 flex flex-col items-center justify-center text-center">
    <div class="flex max-w-3xl flex-col items-center justify-center gap-6">
      <SectionHeading title={title} class="text-center">
        {
          description && (
            <p class="mt-4 text-lg text-gray-600 md:text-xl">{description}</p>
          )
        }
      </SectionHeading>
    </div>
  </div>

  <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-4">
    {
      services.map((item) => (
        <InfoIconCard
          title={item.title}
          text={item.text}
          BottomIcon={item.Icon}
        />
      ))
    }
  </div>

  <div class="mt-16 flex justify-center">
    <div class="bg-accent/5 animate-bounce rounded-full p-4">
      <FaArrowDown className="text-accent text-4xl" aria-hidden="true" />
    </div>
  </div>
</section>
