---
import { useTranslations } from "../../lib/i18n/utils";
import SectionHeading from "../molecules/SectionHeading.astro";
import InfoIconCard from "../molecules/InfoIconCard.astro";
import { FaPlane, FaBed, FaUtensils, FaTree } from "react-icons/fa";
import { marked } from "marked";

interface Props {
  page?: string;
}

const { page = "home" } = Astro.props;
const { lang } = Astro.params as { lang: "en" | "es" };
const t = useTranslations(lang);

const serviceKeys = [
  { key: "airportToHotel", Icon: FaPlane },
  { key: "hotelToHotel", Icon: FaBed },
  { key: "hotelToRestaurant", Icon: FaUtensils },
  { key: "hotelToPark", Icon: FaTree },
];

const services = serviceKeys.map(({ key, Icon }) => ({
  title: t(`global.sections.transportationServicesList.items.${key}.title`),
  text: t(`pages.${page}.transportationServices.items.${key}.text`),
  Icon,
}));

const title = t(`pages.${page}.transportationServices.title`);
const description = t(`pages.${page}.transportationServices.description`);
const id = "transportation-services";
---

<section
  class="relative container mx-auto mt-12 px-4 py-12"
  id={id}
  aria-label={title}
>
  <div
    class="absolute top-0 left-1/2 -z-10 h-[60%] w-screen -translate-x-1/2 bg-[#fff9f2]"
  >
  </div>

  <div class="mb-8 flex flex-col items-center justify-center text-center">
    <div class="flex flex-col items-center justify-center gap-6">
      <SectionHeading title={title} class="font-bolder text-center">
        {
          description && (
            <div
              set:html={marked.parse(description)}
              class="markdown mt-4 text-justify text-sm text-gray-600 md:text-left"
            />
          )
        }
      </SectionHeading>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-4 md:grid-cols-2 lg:grid-cols-4">
    {
      services.map((item) => (
        <InfoIconCard
          title={item.title}
          text={item.text}
          BottomIcon={item.Icon}
        />
      ))
    }
  </div>
</section>
